/* Start global rules */
:root {
  /* Colors: */
  --unnamed-color-707070: #707070;
  --unnamed-color-ffffff: #ffffff;
  --unnamed-color-000000: #000000;
  --unnamed-color-121212: #121212;
  --unnamed-color-6638fb: #6638fb;
  --unnamed-color-c1c1c1: #c1c1c1;
  --unnamed-color-9f55f2: #9f55f2;

  /* Font/text values */
  --unnamed-font-family-tahoma: Tahoma;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-weight-bold: bold;
  --main-transition: 0.3s;
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Tahoma", sans-serif;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
.navbar {
  height: 72px;
}
.main-title {
  font: normal normal bold 40px/48px Tahoma;
  color: #191919;
  text-transform: capitalize;
}
.form-control {
  background: #f8f8f8 0% 0% no-repeat padding-box;
  border: 1px solid #e3e3e3;
  border-radius: 9px;
}
.noOutLine {
  outline: #ffffff;
}
.c-pointer {
  cursor: pointer;
}
.fs-14 {
  font-size: 14px;
}
.fs-17 {
  font-size: 17px;
}
.fs-12 {
  font-size: 12px;
}

.input-group .form-select:focus {
  border-color: #9f55f2;
  box-shadow: 0 0 0 0.25rem rgba(159, 85, 242, 0.25);
}
.sub-btn {
  width: 406px;
  height: 49px;
  border: none;
  border-radius: 9px;
  font-size: 21px;
  color: var(--unnamed-color-ffffff);
  background-color: var(--unnamed-color-9f55f2);
}
.form-label {
  color: #000000;
  font-size: 17px;
}

/* End global rules */

/* Start navbar */
.navbar-transparent {
  width: 100%;
  height: 72px;
  background: rgba(30, 23, 93, 0.4);
  position: absolute;
  z-index: 2;
}
.blogs-nav {
  background: transparent
    linear-gradient(90deg, #1e175d 0%, #080719 39%, #1c1657 100%) 0% 0%
    no-repeat padding-box;
}
.navbar-brand {
  width: 73px;
  height: 60px;
}

.nav-item a {
  color: var(--unnamed-color-ffffff);
  font: var(--unnamed-font-family-tahoma) var(--unnamed-font-style-normal)
    var(--unnamed-font-weight-normal);
}
.nav-item:hover a,
.sign-container:hover .sign-btn {
  color: var(--unnamed-color-9f55f2);
  border-color: var(--unnamed-color-9f55f2);
}
.sign-btn {
  border: 1px solid var(--unnamed-color-ffffff);
  border-radius: 100px;
  color: var(--unnamed-color-ffffff);
  font: var(--unnamed-font-family-tahoma);
}
/* End navbar */

/* Start Sage Model */
.sage-model .modal-body {
  background: #f8f8f8 0% 0% no-repeat padding-box;
  background-image: url(../Images/smarta_en_bg.png);
}
.sage-inputs,
.questions {
  background: #fcfcfc 0% 0% no-repeat padding-box;
  border: 0.10000000149011612px solid var(--unnamed-color-c1c1c1);
  border-radius: 10px;
}
.sage-inputs .inputs .income,
.sage-inputs .inputs .location {
  width: 50%;
}
.sage-img {
  width: 90px;
  height: 90px;
}
.question {
  cursor: pointer;
  padding: 15px;
  margin: 10px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 2px 2px 8px #0000000d;
  border-radius: 9px;
}

.smarta-model {
  right: 5rem;
  bottom: 2rem;
  position: fixed;
  cursor: pointer;
  z-index: 200;
}
.smarta-model span {
  color: var(--unnamed-color-6638fb);
  font-size: 14px;
}
.modal-dialog {
  max-width: 80%;
}
.input-group-append {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 9px;
  z-index: 1000; /* To ensure the icon stays above the input */
}
/* End Sage Model */

/* Start Main Section */
.hero-img {
  width: 100%;
  height: 100vh;
  opacity: 1;
}
#herosCarousel .carousel-control-next-icon {
  background-image: url(../Images/forward.png);
  width: 40px;
  height: 40px;
}
#herosCarousel .carousel-control-prev-icon {
  background-image: url(../Images/back.png);
  width: 40px;
  height: 40px;
}
.carousel-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}
.carousel-caption h5 {
  font-size: 119px;
  font-style: var(--unnamed-font-style-normal);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.55px;
}

.carousel-indicators button.active {
  width: 50px;
  background-color: var(--unnamed-color-9f55f2);
}
/* End Main Section */

/* Start News Section*/
.news {
  width: 100%;
  height: 120px;
  background-color: #df5df2;
}
/* Start News Section*/

/* Start Features */
.features {
  width: 100%;
  padding: 50px;
  background-image: url(../Images/feature_bg.png);
  background-size: cover;
  opacity: 1;
}
.features .features-title {
  padding: 16px;
}

.features .features-title h1 {
  font: normal normal bold 32px/78px Tahoma;
  color: var(--unnamed-color-ffffff);
  text-shadow: 0px 3px 6px #00000029;
}
.features .features-title p {
  font: normal normal normal 20px/32px Tahoma;
  color: var(--unnamed-color-ffffff);
}
.features .card {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border-radius: 20px;
  border-color: transparent;
  background-color: transparent;
  border: none;
  transition: var(--main-transition);
}
.features .card .image {
  padding: 16px 16px 0;
}
.features .card .image img {
  width: 40px;
  height: 40px;
}
.features .card .card-title {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    20px/24px var(--unnamed-font-family-tahoma);
  color: var(--unnamed-color-ffffff);
}
.features .card .card-text {
  color: var(--unnamed-color-ffffff);
  font: normal Tahoma;
  font-size: 14px;
}
.features .card .features .card:hover {
  background-color: rgba(27, 27, 27, 0.4);
}

/* End Features */

/* Start Vision */
.power {
  background: url(../Images/bg_vision.png) no-repeat;
  background-position: right top;
  padding-top: 100px;
  padding-bottom: 100px;
}

/* End Vision */
/* Start Power section */
.power .list li {
  font-size: 20px;
  font-weight: bold;
  color: gray;
  cursor: pointer;
}
.power .list li.active {
  color: black;
}
.power .list .effect::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 160px;
  background-color: var(--unnamed-color-9f55f2);
  right: -10px;
  top: 35px;
}
.power .list li::after {
  position: absolute;
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  right: -17px;
  top: 35px;
  background-color: var(--unnamed-color-9f55f2);
  z-index: 1;
  transition: var(--main-transition);
}
.power .list li.active::after {
  animation: 3s power infinite;
}

@keyframes power {
  0%,
  100% {
    box-shadow: 0px 0px 0px 1px rgba(192, 192, 192, 0.546);
  }
  50% {
    box-shadow: 0px 0px 0px 5px rgba(212, 211, 211, 0.546);
  }
}

.power-image {
  position: relative;
  width: 675px;
  height: 300px;
}
.power-image p {
  font-size: 15px;
  font: normal normal Tahoma;
  color: #ffffff;
}

/* End Power section */
/* Start Install Section */
.install {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(../Images/to_store_bg.png);
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.install .mobile {
  margin-right: 3rem;
}
.install .text {
  width: 500px;
}
.install .text h1 {
  font-size: 60px;
  color: #eab5f9;
}
.install .text .links a img {
  width: 190px;
  height: 62px;
}
.install .text p {
  font-size: 19px;
  color: var(--unnamed-color-ffffff);
}
.install .text h6 {
  font-size: 28px;
  color: #add3f7;
}

/* End Install Section */
/* Start Blogs Section */
.blogs {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f4f4f2;
}
.heading-bar .input-group .filter,
.heading-bar .input-group .form-select {
  background: #f8f8f8 0% 0% no-repeat padding-box;
  border: 1px solid #e3e3e3;
  border-radius: 9px;
}
.blogs .card {
  background-color: transparent;
  border: none;
}
.blogs .card .card-img-top {
  margin: auto;
  padding: 15px;
}
.blogs .card .card-title {
  font-size: 22px;
  color: #252525;
}
.blogs .card .blog-text {
  font-size: 16px;
  color: #585a5c;
}
.blogs .card .blog-date {
  font-size: 14px;
  font-weight: var(--unnamed-font-weight-bold);
  color: #252525;
}
.blogs .carousel-control-next,
.blogs .carousel-control-prev {
  width: 0;
}
.blogs .carousel-control-next-icon,
.blogs .carousel-control-prev-icon {
  width: 25px;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--unnamed-color-9f55f2);
}
.explore a {
  font-weight: bold;
  font-size: 14px;
  color: #a156f7;
}
/* End Blogs Section */
/* Start Contact Section */
.contact-model .modal-body {
  background: #f4f4f2 0% 0% no-repeat padding-box;
}
.contact-model .contact-img img {
  width: 100%;
  height: 100%;
}
/* End Contact Section */

/* Start footer */
.footer {
  border: 1px solid var(--unnamed-color-707070);
  background: #0e0d20 0% 0% padding-box;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.footer-text span,
.social-media span {
  padding: 5px;
  font-size: 12px;
  color: var(--unnamed-color-ffffff);
  font-weight: var(--unnamed-font-weight-bold);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-img {
  margin: 5px;
  width: 24px;
  height: 24px;
}
.main-color {
  color: var(--unnamed-color-9f55f2);
}
/* End footer */

/* Start login page */
.sign-in {
  background: #f4f4f2 0% 0% no-repeat padding-box;
  box-shadow: -6px 0px 6px #00000029;
}
.img-container {
  width: 100%;
  height: 100vh;
}
.img-container img {
  width: 100%;
  height: 100%;
}
.login-form form {
  width: 406px;
  height: 490px;
}

.names-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.names-inputs input {
  width: 195px;
}
/* End login page */

/* Start Blogs Page */
.input-group .input-group-text {
  border-radius: 9px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
}
.form-control:focus {
  border-color: #9f55f2;
  box-shadow: 0 0 0 0.25rem rgba(159, 85, 242, 0.25);
}
.input-group .form-select {
  border: 1px solid #e3e3e3;
  border-radius: 9px;
}

.pagination .page-link {
  color: var(--unnamed-color-000000);
}

.pagination .page-link:hover {
  border-radius: 5px;
}
.more-blogs {
  background-color: #f4f4f2;
}
/* End Blogs Page */
/* Media Queries */
@media (max-width: 1200px) {
  .power-image {
    width: 650px;
    height: 100%;
  }
  .footer {
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .carousel-caption h5 {
    font-size: 90px;
  }
  .carousel-caption p {
    font-size: 15px;
  }
  .features .card .card-text {
    font-size: 13px;
  }
  .features .card .card-title {
    font-size: 17px;
  }
  .power {
    margin-right: 2rem;
  }
  .power .list li {
    font-size: 17px;
  }
  .power-image {
    height: 270px;
  }
  .power-image p {
    font-size: 12px;
  }

  .install .text {
    width: 350px;
  }
  .install .text h1 {
    font-size: 40px;
  }
  .install .text p {
    font-size: 16px;
  }
  .install .text h6 {
    font-size: 20px;
  }
  .install .links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .install .links img {
    width: 150px;
    height: 50px;
  }
}

@media (max-width: 768px) {
  .navbar .navbar-brand {
    width: 55px;
    height: 50px;
  }
  .power .list .effect::before {
    height: 175px;
  }
  .install .mobile {
    margin-right: 0;
  }
  .install .mobile img {
    width: 220px;
  }
  .install .text h1 {
    font-size: 40px;
  }
  .install .text p {
    font-size: 14px;
  }
  .install .text h6 {
    font-size: 20px;
  }
  .install .text .links a img {
    width: 148px;
    height: 50px;
  }
  .smarta-inputs .inputs {
    flex-direction: column;
  }
  .questions div {
    flex-direction: column;
  }
  .smarta-inputs .inputs .income,
  .smarta-inputs .inputs .location {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .navbar {
    height: 100%;
  }
  .blogs-section .heading-bar {
    flex-direction: column;
  }
  .blogs-section .search {
    margin-top: 10px;
  }
  .blogs-nav {
    justify-content: center;
  }
  .blogs-nav .navbar-nav {
    margin-right: auto;
    padding: 10px 0;
  }
  .blogs-nav .sign-btn {
    display: none;
  }
  .main-title {
    font-size: 30px;
  }
}
